
/*  Elements */
.plain-link {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
}

/* Components */
.c-puppy-link {
  display: block;
  margin: 1.5em auto;
}

/* Layout */
.puppy-container {
  display: block;
  margin: 0 auto;
  max-width: 30em;
}
